---
Language:        Cpp
BasedOnStyle:  Mozilla
ColumnLimit: 120
FixNamespaceComments: true
BreakBeforeBraces: Custom
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: MultiLine
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     false
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
...

