[submodule "audio-vec"]
	path = audio-vec
	url = https://github.com/unevens/audio-vec
[submodule "hiir"]
	path = hiir
	url = https://github.com/unevens/hiir
[submodule "r8brain"]
	path = r8brain
	url = https://github.com/unevens/r8brain
[submodule "avec"]
	path = avec
	url = https://github.com/unevens/avec
[submodule "lockfree-async"]
	path = lockfree-async
	url = https://github.com/unevens/lockfree-async
